<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_payment_import_data_before">
        <observer name="save_addi_info" instance="Addi\Payment\Observer\SaveInfoAddi"/>
    </event>
</config>
